.card{
    width: 100%;
    box-shadow: 0 4px 8px 0 #28609057, 0 6px 20px 0 #337ab73b;
    height: 0%;
    background-color: #27293d;
}

label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
    font-style: oblique;
    font-kerning: normal;
    font-stretch: normal;
    font-size: initial;
    font-family: sans-serif;
    color: white;
    margin: 1% 0% 1% 2%;
}

.wc_icon {
    margin-right: 30px !important;
    margin: 5px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px #337ab79e solid;
    box-shadow: 0px 0px 0px 4px #d9edf7b3;
}

/* @media (min-width: 768px){
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
        height: 500px;
        width: max-content;
        margin: 2% 2% 2% -43%;
    }
} */


