.navbar{
    background: #412143;
    color: #fff;
    position: fixed;
    top: 0;
    height: 60px;
    line-height: 60px;
    width: 100vw;
    z-index: 10;
}



.logo {
    float: left;
    font-size: 1.5em;
    letter-spacing: 1px;
    text-transform: uppercase;

}

.box-shadow-menu {
    position: relative;
    padding-left: 1.25em;
    cursor: pointer;
  }
  .box-shadow-menu:before {
    content: "";
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 2em;
    height: 0.25em;
    background: transparent;
    box-shadow: 0 0.5em 0 0 white, 0 1em 0 0 white, 0 1.5em 0 0 white;
  }
@media only screen and (min-width : 768px) and (max-width : 1500px){
    .userSvg{
        margin-top: 3%;
        vertical-align: middle;
    }
}

@media only screen and (max-width : 767px){
.userSvg{
    margin-left: 3%;
    vertical-align: middle;
    }
}