<nav class="navbar" style="z-index: 10;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar6">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="logo">
        <!-- Logo Placeholder for Inlustration -->
        <a href="http://lucidatechnologies.com"><img src="../../../assets/images/logo.png" alt="Lucida Technologies Pvt Ltd.."
            style="height: 50px;width: 100px;margin-top: -10px;"></a>
      </div>

    </div>
    <div style="text-align: center;">
      <img src="../../../assets/images/epiphany.png" alt="E-piphany" style="height: 50px;width: 140px;margin-top: -30px;">
      <h4 style="margin-top: -30px;font-family: initial;">Text Analytics By Lucida Technologies</h4>
    </div>
    <ul class="nav navbar-nav" style="margin-top: -4%;float: right !important;">
        <!-- <button type="button" name="home">Home</button> -->
      <i class="fa fa-home fa-2x" routerLink="../home" ></i>
    </ul>
    <!-- <div style="text-align:right">
    </div> -->
  </div>
</nav>