.card {
    height: 13rem;
    background-color: white;
    border-radius: 8px ;
    border: 1px solid rgba(0,0,0,.125);
}
.image-container {
    box-shadow: 0px 2px 3px rgba(59, 43, 91, 0.7);
    border-radius: 8px;
    background: white;
}
.extractedImage {
    border-radius: 8px ;
    width: 100% !important;
    height: 13rem;
}
.align-nav {
    margin-left: 1.5rem;
}
.defaultImage {
    /* height: 24rem; */
    width: 70% !important;
    padding: 2rem;
    position: relative;
    left: 14%;
}
.button:active {
  transform: scale(0.96);
}

.submit-btn {
    background-image: linear-gradient(to right,#8a2e72 0,#af4567 51%,#d96159 100%);
    background-color: white;
    color: white;
    width: 100px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    transition: all .3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    color: #fff;
    font-size: 13px;
    background-color: #dcdcdc6b;
    padding: 8px 20px!important;
}
.submit-btn:focus {
    outline: none !important;
    border: none !important;
}
.reset-btn:focus{
    outline: none !important;
    border: none !important;
    background-color: #ccc !important;
}
.btn-container {
    float: right;
    margin: 5% 0% 0% 0%;
}
.reset-btn {
    background-color: white;
    border: 1px solid #ccc;
    width: 100px;
    margin-left: 20px;
    font-size: 13px;
    padding: 8px 20px!important;
    border-radius: 20px!important;
}
.reset-btn:hover {
    background-color: #f0efef;
}
.align-clm {
    margin: 2% 0% 0% 0%;
}
@media only screen and (max-width : 1365px){ 
    .btn-container {
        float: left !important;
        margin: 1rem 0rem 1rem 0rem !important;
        padding-left: 2.2rem !important;
    }
    .dropdown {
        margin: 2% 0rem 0rem 1rem ;
        /* width: 97% !important; */
    }
}
@media only screen and (max-width : 960px) and (min-width : 320px) { 
    
    .card {
        height: 13rem !important;
    }
    .defaultImage {
        height: 13rem !important;
        padding: 2rem !important;

    }
}
.main-container {
    height: 100vh;
    overflow-y: scroll;
    display: flex;
  align-items: center;
}
@media only screen and (max-width : 960px) and (min-width : 320px) and (orientation: landscape) { 
    .main-container {
        height: 80vh !important;
    overflow-y: scroll;
    /* margin-top: 7.5rem; */
    }
    .shareduiForm {
        margin-top: 5rem !important;
    }
}
@media only screen and (min-width: 414px) and (max-width: 736px) and (orientation: landscape) {
    .shareduiForm {
        margin-top: 5rem !important;
    }
    #preProcessingDropDown {
        width: 95% !important;
    }
}

@media only screen and (min-width : 767px) { 
    .main-container {
        overflow-y: scroll;
        display: flex ;
      height: 100vh;
    }
    .selectFile {
        width: 99% !important;
    }
    #preProcessingDropDown {    
        width: 99% !important;
    }
}
.vertical-center {
    min-height: 100%;  
    min-height: 100vh; 
  
    display: flex;
    align-items: center;
  }

  @media only screen and (max-width : 767px) and (orientation: portrait){ 
    .main-container {
        overflow-y: scroll;
        display: block !important;
      align-items: center;
      height: 91vh !important;
    }
    .selectFile {
        width: 91% !important;
      }
      #preProcessingDropDown {
          width: 95% !important;
      }
      .upload-btn {
          width: 90% !important;
      }
  }
  .selectFile {
    margin-left: 15px;
    width: 96%;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    box-shadow: 0px 2px 8px rgba(59, 43, 91, 0.7);
    height: 5rem;
 }
 .footer-text {
     margin-top: 1.5rem;
 }
 a {
     color: white !important;
 }
 .upload-btn {
    width: 95%;
    font-size: 91%;
    cursor: pointer;
    color: #5f5e5e;
    /* padding: 13px 20px; */
    border: 1px solid #d3d3d3;
    background: #f0efef;
    padding: .375rem .75rem;
 }