<spinner *ngIf="loading"></spinner>
<div class="main-container">
  <div class="shareduiForm">
    <div class="row">
      

      <div class="w-100 pb-3">
        <!-- <div id="freetext" class="">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin: 2% 0% 0% 0%;"><label class="panel-header"
              for="content">Enter text to be
              analysed:</label></div>
          <textarea rows="6" name="content" class="form-control" [(ngModel)]='freeText'
            style="margin-left: 14px;width: 95%" (keyup)='restrict($event)'></textarea>
        </div> -->
        <div id="documents" class="e in active row">
          <div class="col-sm-12 col-md-5 col-lg-5 col-xl-4 align-clm" >
            <label class="panel-header" for="content" style="padding-left: 1rem;">Upload the image
              file:</label>

            <!-- <div class="form-group">
              <input type="file" #myInput name="fileArchive" class="form-control selectFile" 
                (change)='convertFile($event)' accept=".pdf,.jpg,.jpeg,.png,.docx,.doc" required />
            </div> -->
            <button class="upload-btn" type="button" style="margin-left: 1rem;" (click)="fileInput.click()">
              <span><i class="fa fa-upload mr-2"></i>Upload</span>
              <input #fileInput type="file" (change)="convertFile($event)" style="display:none;" />
            </button>
          </div>
          <div class="col-sm-12 col-md-5 col-lg-4 col-xl-4 align-clm dropdown" *ngIf="isOCR" >
            <label class="panel-header" for="content" >Preprocessing:
            </label>
            <select id="preProcessingDropDown" class="hideLabel form-control" name="preItem" #preProcessingDropDown
              (change)="selectPreprocessing($event);">
              <option ng-option value="">Select Preprocessing</option>
              <option [ngValue]="p" *ngFor="let p of preProcessingItems">
                {{p}}
              </option>
            </select>
          </div>

          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 btn-container" *ngIf="isOCR">
            <div class="row align-clm">
              <div  *ngIf='isCSVDisable'>
                <button name="Extract" id="Extract" type="button" class="btn submit-btn"
                  (click)='analysis("documents")'>Submit</button>
                <button name="infosec" id="infosec" type="button" class="btn reset-btn" (click)='clear()'>Reset</button>

              </div>
            </div>
          </div>
        </div>
        <!-- <div id="archieve" class="">
          <div class="col-md-12" style="margin: 2% 0% 0% -2%;"><label class="panel-header" for="content">Upload the
              image file:</label></div>
          <div class="form-group">
            <input type="file" #csvInput class="form-control" accept=".csv" style="margin-left: -1px;width: 100%"
              (change)='convertFile($event)' required />
          </div>
        </div> -->
      </div>

    </div>
    <!-- <div class="col-md-12" style="padding-right: 0px;" *ngIf="isOCR">
      <div class="box-header with-border">
        <div class="form-group row">

          <div class="col-sm-2 col-md-2 col-lg-1 col-xl-1" style="padding: 0px 0px; margin: 0.5rem 1rem 0rem 0rem;">
            <label class="panel-header" for="content">Preprocessing:
            </label></div>
          <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 preProcessingDropDown">
            <select id="preProcessingDropDown" class="hideLabel form-control" name="preItem" #preProcessingDropDown
              (change)="selectPreprocessing($event);">
              <option ng-option value="">Select Preprocessing</option>
              <option [ngValue]="p" *ngFor="let p of preProcessingItems">
                {{p}}
              </option>
            </select>
          </div>
          <div class="col-sm-8 col-md-1 col-lg-1 col-xl-4">
          </div>

          <div class="col-sm-12 col-md-5 col-lg-4 col-xl-3 btn-container">
            <div class="row ">
              <div style="margin: 0% 6% 0% 0%" *ngIf='isCSVDisable'>
                <button name="Extract" id="Extract" type="button" class="btn submit-btn"
                  (click)='analysis("documents")'>Submit</button>
                <button name="infosec" id="infosec" type="button" class="btn reset-btn" (click)='clear()'>Reset</button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div style="margin: 2% 6% 0% -1%" class="row" *ngIf='isCSVDisable'>
    <button name="Extract" id="Extract" type="button" style="width: 100px;margin-left: 10px" class="btn btn-default"
      (click)='analysis("documents")'>Submit</button>
    <button name="infosec" id="infosec" type="button" style="width: 100px;margin-left: 10px" class="btn btn-default"
      (click)='clear()'>Reset</button>

  </div> -->
    <div class="row">
        <!-- <label style="margin-left: 400px;" class="panel-header" for="content">
        Extracted content:</label> -->

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
          <!-- {{extractedContent}} -->
          <label class="panel-header" for="content">
            Input Image:</label>
          <div class="card" *ngIf="!SelectedImageAsBase64">
            <img src="./assets/images/gallery.png" alt="default" class="defaultImage">
          </div>
          <div class="image-container" *ngIf="SelectedImageAsBase64">
            <img [src]="SelectedImageAsBase64" class="extractedImage" />
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
          <label class="panel-header" for="content">
            Output Image:</label>
          <!-- <textarea rows="10" class="form-control" style="width: 30vw;background-color:white;" readonly
        [(ngModel)]='extractedText'></textarea> -->
          <div class="card" *ngIf="!extractedContent">
            <img src="./assets/images/gallery.png" alt="default" class="defaultImage">
          </div>
          <div class="image-container" *ngIf="extractedContent">
            <img [src]="extractedContent" class="extractedImage" />
          </div>
        </div>
    </div>


    <!-- <div class="row" style="margin: 2% 0% 0% -3%" *ngIf='isCSVDisable'>
    <div class="col-md-11">
      <p class="panel-footer" id="status">{{ result }}</p>
    </div>
    <div class="col-md-1" style="margin-left: 0px;padding-left: 0px;margin-top: 5px;">
      <button type="button" (click)='clear()' class="btn btn-sm btn-primary" [disabled]='btnClear'>
        Clear</button>
    </div>
  </div> -->

    <!-- <div class="row" style="margin: 2% 0% 0% -3%" *ngIf='!isCSVDisable'>
    <div class="col-md-10"></div>
    <div class="pull-left col-md-1" style="margin-left: 0px;padding-left: 0px;margin-top: 5px;">
        <button type="button" class="btn btn-sm btn-primary" (click)='analysis("csv")' [disabled]='btnClear'>
          Analyze</button>
      </div>
    <div class="pull-right col-md-1" style="margin-left: 0px;padding-left: 0px;margin-top: 5px;">
      <button type="button" (click)='clear()' class="btn btn-sm btn-primary" [disabled]='btnClear'>
        Clear</button>
    </div>
  </div> -->

  </div>
</div>
<div class="footer">
  <p class="footer-text"> <a href="https://www.lucidatechnologies.com/" target="_blank">Copyright © 2020 All Rights Reserved by Lucida Technologies PVT LTD.</a> </p>
</div>