<nav class="navbar bg-custom-2" style="z-index: 10;">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar6">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <div class="logo">
        <!-- Logo Placeholder for Inlustration -->
        <a href="http://lucidatechnologies.com"><img src="../../../assets/images/logo.png" alt="Lucida Technologies Pvt Ltd.."
            style="height: 65px;width: 100px; padding: 7px;"></a>
      </div>
      <div class="text-center" style="text-align: center;">
        <span class="font-large"> इ-Scan </span> <span class="font-small">by Lucida Technologies</span>
      </div>
      <!-- <div class="nav navbar-nav home-icon">
      <i class="fa fa-home fa-2x" routerLink="../home" ></i>
      </div> -->
    </div>
    
    
  </div>
</nav>