.navbar{
    /* background: #412143; */
    color: #fff;
    position: fixed;
    top: 0;
    height: 70px;
    line-height: 60px;
    width: 100vw;
    z-index: 10;
    border-radius: 0px !important ;
}
.bg-custom-2 {
    background-image: linear-gradient(95deg, #E36759 -40%, #812875 100%);
    }


.logo {
    float: left;
    font-size: 1.5em;
    letter-spacing: 1px;
    text-transform: uppercase;

}

.box-shadow-menu {
    position: relative;
    padding-left: 1.25em;
    cursor: pointer;
  }
  .box-shadow-menu:before {
    content: "";
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 2em;
    height: 0.25em;
    background: transparent;
    box-shadow: 0 0.5em 0 0 white, 0 1em 0 0 white, 0 1.5em 0 0 white;
  }
@media only screen and (min-width : 768px) and (max-width : 1500px){
    .userSvg{
        margin-top: 3%;
        vertical-align: middle;
    }
}

@media only screen and (max-width : 767px){
.userSvg{
    margin-left: 3%;
    vertical-align: middle;
    }
    .home-icon {
        margin-top: -7.5rem !important;
        margin-right: 1rem !important;
    }
    .text-center {
        margin: auto;
        width: auto !important;
        padding: 5px;
    }
}
@media only screen and (width : 768px) {
    .home-icon {
        margin-right: 2rem !important;
    }
}
@media only screen and (max-width : 960px) and (min-width : 320px) {
    .font-large {
        font-size: 16px !important;
    }
    .font-small {
        font-size: 14px !important;
    }
 }
.navbar-header {
    width: 98vw;
}
.home-icon {
    float: right !important;
     cursor: pointer;
      margin-top: -6rem;
}
.text-center {
    margin: auto;
    width: 50%;
    font-size: 100%;
}

.font-large {
    font-size: 18px;
}
.font-small {
    font-size: 16px;
}