<nav id="navbar" class="">
  <div class="nav-wrapper">
    <!-- Navbar Logo -->
    <div class="logo">
      <!-- Logo Placeholder for Inlustration -->
      <a href="http://lucidatechnologies.com"><img src="../../../assets/images/logo.png" alt="Lucida Technologies Pvt Ltd.."
          style="height: 50px;width: 100px;margin-top: -10px;"></a>
    </div>
    <div style="text-align: center;">
      <img src="../../../assets/images/epiphany.png" alt="E-piphany" style="height: 50px;width: 140px;margin-top: -30px;">
      <h4 style="margin-top: -30px;font-family: initial;">Text Analytics By Lucida Technologies</h4>
    </div>
  </div>
</nav>