<spinner *ngIf="loading"></spinner>
<div class="shareduiForm">
    <form #archieveForm="ngForm">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-12"><label class="panel-header" for="content">Select document to be analysed:</label></div>
      <div class="col-md-12"></div>
      <div class="form-group">
         <input type="file" #myInput name="fileArchive" class="form-control" [(ngModel)]='archieve' 
         style="margin-left: 10px;width: 100%" #fileArchive="ngModel" (change)='convertFile($event)'
         required/>
        </div>
        <span [hidden]="(fileArchive.valid || fileArchive.pristine)">
            <span *ngIf="(fileArchive.errors?.required)" class="red">
              Please choose a file
            </span>
        </span>
    </div>
  </div>
  <div style="margin: 2% 0% 0% 2%" class="row" *ngIf='analytics'>
        <button name="spam" id="spam" type="button" style="width: 100px;" class="btn btn-default" disabled>Spam</button>
        <button name="infosec" id="infosec" type="button" style="width: 100px;" class="btn btn-default" disabled>Threat</button>
        <button type="button" name="sentiment" id="sentiment" style="width: 100px;" class="btn btn-default" disabled>Sentiment</button>
      </div>
  <div class="row" style="margin: 2% 0% 0% 0%">
      <div class="col-md-9">
        <p class="panel-footer" id="status">{{ result }}</p>
      </div>
      <div class="pull-left col-md-2" style="margin-left: 0px;padding-left: 0px;margin-top: 5px;">
        <button type="button" id="clear" [disabled]="(!archieveForm.form.valid)" 
        class="btn btn-sm btn-primary" (click)='analyz()'>
          Analyse</button>
      </div>
      <div class="pull-right col-md-1" style="margin-left: 0px;padding-left: 0px;margin-top: 5px;">
        <button type="button" id="clear" [disabled]="(!archieveForm.form.valid)" (click)='clear()' class="btn btn-sm btn-primary">
          Clear</button>
      </div>
    </div>
    </form>
</div>
