<nav class="navbar" style="z-index: 10;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar6">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="logo">
        <!-- Logo Placeholder for Inlustration -->
        <a href="http://lucidatechnologies.com"><img src="../../../assets/images/logo.png" alt="Lucida Technologies Pvt Ltd.."
            style="height: 50px;width: 100px;margin-top: -10px;"></a>
      </div>
    </div>
  </div>
</nav>
<div class="mainOptionsDiv">
  <!-- <div class="col-md-6" style="margin-left: 90px;padding-left: 0px;margin-top: 5px;"> -->
    <a routerLink="/epiphany" style="display: none;">
      <img src="../../../assets/images/epiphany.png" alt="E-piphany" class="menu" />
    </a>
  <!-- </div> -->
  <!-- <div class="col-md-6" style="margin-left: -90px;padding-left: 40px;margin-top: 5px;"> -->
    <a routerLink="/envisage">
      <img src="../../../assets/images/envisage.png" alt="E-nvisage" class="menu" />
    </a>
  <!-- </div> -->
</div>