
.mainOptionsDiv {
    margin: 100px auto;
    font-family: "Montserrat", sans-serif;
    width: 250px;
}
.mainOptionsDiv > a {
    display: flex;
    flex-wrap: nowrap;    
}

.navbar{
    background: #412143;
    color: #fff;
    position: fixed;
    top: 0;
    height: 60px;
    line-height: 60px;
    width: 100vw;
    z-index: 10;
}

.logo {
    float: left;
    font-size: 1.5em;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.box-shadow-menu {
    position: relative;
    padding-left: 1.25em;
    cursor: pointer;
  }
  .box-shadow-menu:before {
    content: "";
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 2em;
    height: 0.25em;
    background: transparent;
    box-shadow: 0 0.5em 0 0 white, 0 1em 0 0 white, 0 1.5em 0 0 white;
  }
@media only screen and (min-width : 768px) and (max-width : 1500px){
    .userSvg{
        margin-top: 3%;
        vertical-align: middle;
    }
}

@media only screen and (max-width : 767px){
.userSvg{
    margin-left: 3%;
    vertical-align: middle;
    }
}

img.menu {
    margin: 5px;
    padding: 20px;
    height: 130px;
    width: 250px;
    border: 1px solid rgba(49, 49, 49, 0.596);
    border-radius: 3%;
    background-color: black; /*for compatibility with older browsers*/
	background-image: linear-gradient(rgba(56, 54, 54, 0.753), rgb(15, 15, 15), rgba(56, 54, 54, 0.753));
}