<!-- <spinner *ngIf="loading"></spinner>
<div class="shareduiForm">
   <form #archieveForm="ngForm">
      <div class="row">
      
      <div id="archieve" class="tab-pane fade">
        <div class="col-md-12" style="margin: 2% 0% 0% -2%;"><label class="panel-header" for="content">Upload the image file:</label></div>
        <div class="form-group">
          <input type="file" #csvInput class="form-control" accept=".csv" style="margin-left: -1px;width: 100%"
            (change)='convertCSVFile($event)' required />
        </div>
      </div>
    </div>
    </form>

  </div>

  <div style="margin: 2% 5% 0% -1%" class="row" *ngIf='isCSVDisable'>
    <button name="spam" id="spam" type="button" style="width: 100px;" class="btn btn-default" 
      (click)='extract()'>Extract</button>
    <button name="infosec" id="infosec" type="button" style="width: 100px;margin-left: 80px" class="btn btn-default" 
      (click)='clear()'>Reset</button>
    
  </div>

  <div class="row">
      <div class="col-md-12" style="margin: 5% 0% 0% -2%;"><label class="panel-header" for="content">
        Image in the file:</label>
        <label style="margin-left: 400px;" class="panel-header" for="content">
          Extracted content:</label>
        </div>            
    <textarea rows="10" class="form-control" style="height: 150px;width: 400px;" readonly [(ngModel)]='extractedContent'></textarea>
    <textarea rows="10" class="form-control" style="height: 150px;width: 400px;margin-top: -150px;
    margin-left: 500px;" readonly [(ngModel)]='extractedContent'></textarea>
   
  </div>
   -->