<spinner *ngIf="loading"></spinner>
<div class="shareduiForm">
  <div>  <div class="row">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#freetext" (click)='defaultDisable("freetext")'>Free Text</a></li>
      <li><a data-toggle="tab" href="#documents" (click)='defaultDisable("documents")'>Documents</a></li>
      <li><a data-toggle="tab" href="#archieve" (click)='defaultDisable("archieve")'>Corpus</a></li>
      <li><a data-toggle="tab" href="#summary" (click)='defaultDisable("summary")'>Summary</a></li>
    </ul>

    <div class="tab-content">
      <div id="freetext" class="tab-pane fade in active">
        <div class="col-md-12" style="margin: 2% 0% 0% -2%;"><label class="panel-header" for="content">Enter text to be
            analysed:</label></div>
        <textarea rows="10" name="content" class="form-control" [(ngModel)]='freeText' style="margin-left: 2px;width: 100%;background-color: white"
          (keyup)='restrict($event)'></textarea>
      </div>
      <div id="documents" class="tab-pane fade">
        <div class="col-md-12" style="margin: 1% 0% 0% -2%;"><label class="panel-header" for="content">Select document to be
            analysed:</label></div>
        <div class="form-group">
          <input type="file" #myInput name="fileArchive" class="form-control" style="margin-left: -1px;width: 100%"
            (change)='convertFile($event)' accept=".xlsx,.xls, .png, .PNG, jpeg, .jpg,.doc, .docx, .ppt, .pdf" required />
        </div>
      </div>
      <div id="archieve" class="tab-pane fade">
        <div class="col-md-12" style="margin: 2% 0% 0% -2%;"><label class="panel-header" for="content">Select Corpus
            to be analysed:</label></div>
        <div class="form-group">
          <input type="file" #csvInput class="form-control" accept=".csv" style="margin-left: -1px;width: 100%"
            (change)='convertCSVFile($event)' required />
        </div>
      </div>
      <div id="summary" class="tab-pane fade">
        <div class="col-md-12" style="margin: 2% 0% 0% -2%;"><label class="panel-header" for="content">Select Document to be summarized:</label></div>
        <div class="form-group">
          <input type="file" #summaryInput class="form-control" style="margin-left: -1px;width: 100%"
            (change)='convertsummaryFile($event)' accept=".txt" maxlength="255" required />
        </div>
      </div>
    </div>

  </div>

  <div class="row" *ngIf='defaultTextArea && isCSVDisable'>
      <div class="col-md-12" style="margin: 0% 0% 0% -2%;"><label class="panel-header" for="content">
        Extracted Content:</label></div>
    <textarea rows="10" class="form-control" style="background-color:white" readonly [(ngModel)]='extractedContent'></textarea>
  </div>

  <div class="row">
  </div>

  <div class="row" *ngIf='isSummary'>
    <label class="panel-header">
      Enter the summary percentage:  
    </label>
      <p-slider [(ngModel)]="sumpercent" [style]="{'width':'14em'}" [step]="10" [min]="10" [max]="40"></p-slider>
    <button type="button" (click)='clear()' class="btn btn-default" style="float: right;" [disabled]='btnClear'>Reset</button>
      <button name="summarize" id="summarize" type="button" style="width: 100px;float: right;" class="btn btn-default"  [disabled]='btnDisabled' (click)='analysisSummray("summarize")'>Summarize</button>
     <h4>{{sumpercent}}%</h4>
    
    <div class="col-md-12" style="margin: 3% 0% 0% 2%;">
      <div class="col-md-6">
      <label class="panel-header" for="content">
          Original Document:</label></div>
      <div class="col-md-6">       
          <label class="panel-header" for="content">
          Summary:</label></div>
    </div>  
    <div class="col-md-12">
    <div class="col-md-6">
      <textarea rows="10" class="form-control" style="height: 150px;width: 30vw;background-color:white;" readonly [(ngModel)]='extractedContent'></textarea>
     <label >{{docsent}}</label> 
    </div>    
    <div class="col-md-6">
      <textarea rows="10" class="form-control" style="height: 150px;width: 30vw ;background-color:white;" readonly [(ngModel)]='extractedsummary'></textarea>
         <label >{{sumsent}} </label> 
    </div>
    </div>
  </div>


  <div style="margin: 2% 0% 0% -1%" class="row" *ngIf='isCSVDisable'>
    <button name="spam" id="spam" type="button" style="width: 100px;" class="btn btn-default" [disabled]='btnDisabled'
      (click)='analysis("spam")'>Spam</button>
    <button name="infosec" id="infosec" type="button" style="width: 100px;" class="btn btn-default" [disabled]='btnDisabled'
      (click)='analysis("infosec")'>Threat</button>
    <button type="button" name="sentiment" id="sentiment" style="width: 100px;" class="btn btn-default" [disabled]='btnDisabled'
      (click)='analysis("sentiment")'>Sentiment</button>
    <button type="button" *ngIf="isOCR" name="categorize" id="categorize" style="width: 100px;" class="btn btn-default" [disabled]='btnDisabled'
      (click)='analysis("categorize")'>OCR</button>
  </div>

  <div class="row" style="margin: 2% 0% 0% -3%" *ngIf='isCSVDisable'>
    <div class="col-md-11">
      <p class="panel-footer" id="status">{{ result }}</p>
    </div>
    <div class="col-md-1" style="margin-left: 0px;padding-left: 0px;margin-top: 5px;">
      <button type="button" (click)='clear()' class="btn btn-sm btn-primary" [disabled]='btnClear'>
        Clear</button>
    </div>
  </div>

  <div class="row" style="margin: 2% 0% 0% -3%" *ngIf='!isCSVDisable && !isSummary'>
    <div class="col-md-10"></div>
    <div class="pull-left col-md-1" style="margin-left: 0px;padding-left: 0px;margin-top: 5px;">
        <button type="button" class="btn btn-sm btn-primary" (click)='analysis("csv")' [disabled]='btnClear'>
          Analyze</button>
      </div>
    <div class="pull-right col-md-1" style="margin-left: 0px;padding-left: 0px;margin-top: 5px;">
      <button type="button" (click)='clear()' class="btn btn-sm btn-primary" [disabled]='btnClear'>
        Clear</button>
    </div>
  </div>
  

</div>