/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeng/resources/themes/omega/theme.css";
@import "../node_modules/primeicons/primeicons.css";
body{
    overflow: hidden;
    background-color: #fafafa;
    font-family: 'Karla_regular';
}

.red{
    color: red;
}
.shareduiForm {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px -8px #000;
    margin: calc(50vh - 220px) auto;
    /* margin-top: 100px !important; */
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: "Karla_regular";
    position: relative;
    width: 60%;
    margin-top: auto;
    margin-bottom: auto;
}
@media only screen and (max-width : 767px) and (orientation: portrait){
    .shareduiForm { 
        margin-top: 5rem !important;
    }
}
.btn-default:hover {
    color: white;
    background-color: #412143;
    border-color: #412143;
}

/* ::-webkit-scrollbar{
    display: none;
} */
.scrollbar
{
    float: left;
    /* height: -webkit-fill-available; */
    height: 540px;
    /* min-height: 540px; */
    /* max-height: 1000px; */
    width: 100%;
    overflow-y: scroll;
}

/*
* fluid-scroll
*/

#fluid-scroll::-webkit-scrollbar-track
{
    background-color: #1e1e2b;
    border-radius: 10px;
}

#fluid-scroll::-webkit-scrollbar
{
    width: 10px;
    background-color: #1e1e2b;
}

#fluid-scroll::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-image: linear-gradient(to right, #412143, #8647e4c4);
}

#fluid-scroll::-webkit-scrollbar-thumb:hover
{
    background-image: linear-gradient(to right, #8028aa, #8647e4c4);
}

@media only screen and (max-width : 851px) and (min-width : 320px) {
    .shareduiForm {
        width: 80% !important;
    }
    .pr-0 {
        padding-right: 0px;
    }
}

@font-face {
    font-family: "Karla_bold";
    font-style: normal;
    font-weight: normal;
    src: local("Ubuntu_bold"), url("./assets/css/Karla/Karla-Bold.ttf");
  }
  @font-face {
    font-family: "Karla_regular";
    font-style: normal;
    font-weight: normal;
    src: local("Ubuntu_light"), url("./assets/css/Karla/Karla-Regular.ttf");
  }
  label {
    font-family: "Karla_bold";
  }

  